/* Styling the title area of the page */

.work-screen {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.work-titlebox {
    padding-bottom: 32px;
    text-align: center;

}

.work-title {
    font-size: 36px;
    line-height: calc(2.5/2.25);
    display: inline;
    border-bottom-width: 4px;
    border-bottom-color: var(--accent-color);
    font-weight: bold;
}
.work-subtitle {
    padding-top: 16px;
}

/* Creating the grid */

.work-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.work-grid-item {
    background-color: var(--darker-color);
    height: 220px;
    box-shadow: var(--shadow-color);
    width: 100%;
    border-radius: 6px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-template-rows: 1fr 1fr
}

.item-top {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: .05em;
}

/* The buttons inside of each box for code/demo */

.item-bottom {
    text-align: center;
}

.button {
    text-align: center;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px;
    background-color: white;
    color: #374151;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

/* Some styling for a smaller screen */

@media (max-width: 768px) {
    .work-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 640px;
    }
}